html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-weight: 300;
	height: 100%;
	margin: 0;
	padding: 0;
}
	
#map {
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

#filters {
	background-color: #ffffff;
	border: 1px solid #0088ff;
	border-radius: 2px;
	bottom: 0;
	right: 0;
	margin: 16px;
	position: absolute;
	width: auto;
	z-index: 999;
}

#filters .title {
	background-color: #0088ff;
	color: #ffffff;
	font-weight: 100;
	padding: 8px;
}

#filters .body {
	padding: 8px;
}

.checkbox-inline {
	position: relative;
    display: inline-block;
    padding-left: 16px;
    margin-bottom: 0;
    vertical-align: middle;
}